{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://efaturaservice.turkcellesirket.com/v1",
      "description": "Production"
    },
    {
      "url": "https://efaturaservicetest.isim360.com/v1",
      "description": "Test"
    }
  ],
  "produces": [
    "application/json; charset=utf-8"
  ],
  "info": {
    "version": "1.1",
    "title": "e-Fatura/e-Arşiv Rest Api Geliştirici Kılavuzu",
    "x-logo": {
      "url": "https://www.turkcellesirket.com/uxrocket-eplatform/assets/images/logo-dark.svg"
    },
    "description": "Turkcell e-Şirket e-Fatura/e-Arşiv API uç noktaları REST olarak geliştirilmiştir.  API kullanımı ve entegrasyon süreçlerinize başlamadan önce mutlaka satis@eplatform.com.tr adresinden satış ekibimiz ile iletişime geçmelisiniz. Satın alma süreçlerinden sonra satış temsilcimiz entegrasyon ekibimiz ile iletişime geçecektir.  Turkcell e-Şirket bünyesinde yer alan diğer uygulamaların dokümantasyonlarına https://developer.turkcellesirket.com adresinden ulaşabilirsiniz.\n\n Servis üzerinden gönderim yapmak için arayüz üzerinden <b>apikey</b> oluşturmanız gerekmektedir.\n\n Test ortamda https://portaltest.isim360.com/home/api-management  adresinden <b>apikey</b> oluşturabilirsiniz.\n\n Canlı ortamda https://portal.turkcellesirket.com/home/api-management  adresinden <b>apikey</b> oluşturabilirsiniz.\n\n ApiKey oluşturma dokümanını entegrasyon ekibimiz ile iletişime geçtiğinizde, sizlere iletecektir.\n\n Entegrasyon çalışmalarında yaptığınız işlemlerin sonuçlarını, test portalimizi kullanarak gözlemleyebilirsiniz.\n \n `Test arayüz` adresi; https://portaltest.isim360.com/ \n \n"
  },
  "host": "efaturaservicetest.isim360.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Giden e-Fatura",
      "description": "Giden e-Fatura gönderim ve sorgulama için gerekli servis uç noktalarını içerir."
    },
    {
      "name": "Gelen e-Fatura",
      "description": "Gelen e-Fatura servis bilgileri. \n"
    },
    {
      "name": "e-Arşiv",
      "description": "e-Arşiv Fatura gönderim ve sorgulama için gerekli servis uç noktalarını içerir."
    },
    {
      "name": "Gelen ticari e-Faturalara cevap oluşturma ve oluşturulan cevaba ait zarf bilgilerini içeren servis uç noktaları bulunmaktadır.",
      "description": "  \n"
    },
    {
      "name": "Mükellefler",
      "description": "e-Fatura mükellef listesi, gönderici/alıcı birim bilgileri  \n"
    },
    {
      "name": "E-MM",
      "description": "e-Müstahsil Makbuzu gönderim ve sorgulama için kullanılan servis uç noktalarını içerir.  \n"
    },
    {
      "name": "E-SMM",
      "description": "e-Serbest Meslek Makbuzu gönderim ve sorgulama için kullanılan servis uç noktalarını içerir.  \n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "e-Fatura / e-Arşiv Fatura",
      "tags": [
        "Giden e-Fatura",
        "Gelen e-Fatura",
        "e-Arşiv",
        "Gelen Ticari Fatura Cevap",
        "Mükellefler",
        "Statik Listeler"
      ]
    },
    {
      "name": "e-Müstahsil Makbuzu",
      "tags": [
        "E-MM"
      ]
    },
    {
      "name": "e-Serbest Meslek Makbuzu",
      "tags": [
        "E-SMM"
      ]
    }
  ],
  "parameters": {
    "identifier": {
      "name": "identifier",
      "in": "path",
      "description": "Mükellefin VKN/TCKN bilgisi",
      "schema": {
        "type": "string"
      }
    },
    "appType": {
      "name": "appType",
      "in": "path",
      "description": "Uygulama türü",
      "schema": {
        "type": "int",
        "enum": [
          "1 : e-Fatura",
          "3 : e-İrsaliye"
        ]
      }
    },
    "resourceId": {
      "name": "id",
      "in": "path",
      "description": "Erişilmek istenen kaynağın unique id'si (ETTN)",
      "type": "string"
    },
    "id": {
      "name": "id",
      "in": "path",
      "description": "Erişilmek istenen kaynağın unique id'si (ETTN)",
      "schema": {
        "type": "Guid"
      }
    },
    "envelopeIdQuery": {
      "name": "id",
      "in": "query",
      "description": "Faturanın zarfId (envelopeId) bilgisi",
      "schema": {
        "type": "Guid"
      }
    },
    "invoiceid": {
      "name": "invoiceid",
      "in": "path",
      "description": "Fatura Id'si",
      "schema": {
        "type": "Guid"
      }
    },
    "guidId": {
      "name": "guid",
      "in": "query",
      "description": "Erişilmek istenen kaynağın GUID id'si",
      "schema": {
        "type": "Guid"
      }
    },
    "isRead": {
      "name": "isRead",
      "in": "path",
      "description": "Okundu bilgisi",
      "type": "bool"
    },
    "isGibStatus": {
      "name": "isGibStatus",
      "in": "query",
      "description": "Gib durum bilgisini görmek için bu alanı true olarak göndermelisiniz.",
      "type": "bool"
    },
    "year": {
      "name": "Year",
      "in": "path",
      "description": "Yıl Bilgisi",
      "type": "int"
    },
    "month": {
      "name": "Month",
      "in": "path",
      "description": "Ay bilgisi.",
      "type": "int"
    },
    "emailAddress": {
      "name": "emailAddress",
      "in": "path",
      "description": "e-Mail Adresi",
      "type": "string"
    },
    "isStandartXslt": {
      "description": "Bu alan false olarak gönderilirse, kendi eklemiş olduğunuz XLST / XSLT'ler içersinden default olana göre fatura getirilir.",
      "name": "isStandartXslt",
      "in": "path",
      "schema": {
        "type": "bool"
      }
    },
    "isArchived": {
      "name": "isArchived",
      "in": "path",
      "description": "",
      "type": "bool"
    },
    "guidIds": {
      "name": "Guid Ids",
      "in": "path",
      "description": "Guid Id'ler",
      "required": true,
      "schema": {
        "type": "Guid"
      }
    },
    "xsltId": {
      "name": "xsltId",
      "in": "path",
      "description": "",
      "schema": {
        "type": "string"
      }
    },
    "pageIndex": {
      "name": "pageIndex",
      "in": "path",
      "description": "Çekmek istediğiniz başlangıç sayfasını belirtir.",
      "schema": {
        "type": "int"
      }
    },
    "pageSize": {
      "name": "pageSize",
      "in": "path",
      "description": "Çekmek istediğiniz sayfada kaç adet kayıt olması gerektiğini belirtir. Tek seferde max 500 kayıt",
      "schema": {
        "type": "int"
      }
    },
    "startDate": {
      "name": "startDate - (2019-10-30 00:00:00) ",
      "in": "path",
      "description": "Çekmek istediğiniz faturaların başlangıç tarihini belirtir.",
      "schema": {
        "type": "string"
      }
    },
    "endDate": {
      "name": "endDate - (2019-10-30 00:00:00) ",
      "in": "path",
      "description": "Çekmek istediğiniz faturaların son tarihini belirtir. Bulunduğunuz gün ve saatten büyük değer olmamalıdır.",
      "schema": {
        "type": "string"
      }
    },
    "startCreateDate": {
      "name": "startDate - (2019-10-30 00:00:00) ",
      "in": "query",
      "description": "Faturaların Turkcell e-şirkette oluşma tarihinin başlanıç değeri. <b>Fatura tarihi değildir</b>",
      "schema": {
        "type": "string"
      }
    },
    "endCreateDate": {
      "name": "startDate - (2019-10-30 00:00:00) ",
      "in": "query",
      "description": "Faturaların Turkcell e-şirkette oluşma tarihinin bitiş değeri. <b>Fatura tarihi değildir</b>",
      "schema": {
        "type": "string"
      }
    }
  },
  "paths": {
    "/outboxinvoice/create": {
      "post": {
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Post",
        "description": "Yeni e-Fatura kayıt etmek için kullanılır.\n\nTurkcell e-Şirket fatura oluşturma arayüzlerininde kullandığı modeldir.\n \n Bu model GİB in standart UBL yapısından farklıdır ve sunduğu özellikler fatura oluşturma arayüzlerinin yetenekleri ile sınırlıdır.\n\n Daha önce GİB in standart yapısı ile çalışmış firmaların bu model UBL ile devam etmesini <b>tavsiye ederiz</b>. ",
        "operationId": "invoice/create",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OutboxUblBuilderModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/outboxinvoice/update/{id}": {
      "put": {
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Put",
        "description": "Fatura güncelleme methotudur. Turkcell e-Şirket fatura güncelleme arayününde kullandığı uç noktasıdır.",
        "operationId": "invoice/update",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OutboxUblBuilderModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/outboxinvoice/updatestatuslist": {
      "put": {
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Update Status",
        "description": "Bu metot fatura statüsünü güncellemek için kullanılır.\n\n Çoğunlukla anlık hata alan faturaları tekrar denemek (tetiklemek) için kullanılır.\n\n Bazı durumlarda taslak olarak kaydedilen faturaların, gönderilmesi içinde kullanılabilir.",
        "operationId": "invoice/updatestatus",
        "responses": {
          "200": {
            "description": "Olması durumunda statü güncellenmiştir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "ids",
                      "status"
                    ],
                    "properties": {
                      "ids": {
                        "description": "Erişilmek istenen kaynağın unique id veya id'leri dizi olarak (ETTN).",
                        "type": "Guid [ ]"
                      },
                      "status": {
                        "description": "Faturanın durumunu belirtir.",
                        "type": "int",
                        "enum": [
                          "Taslak : 0",
                          "Kaydet ve Gönder : 20"
                        ],
                        "example": 20
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/outboxinvoice": {
      "post": {
        "tags": [
          "Giden e-Fatura"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Post (UBL)",
        "description": "Faturayı UBL olarak hazırlayanların kullanabileceği uç noktasıdır. \n\n XML oluşturmak için `UBL TR 1.2` standart modelinden yararlanabilirsiniz, \n\n UBL inizi oluşturduktan sonra, file (dosya) olarak bu uç noktasına göndermelisiniz.",
        "operationId": "invoice/create-ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateInvoiceModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/outboxinvoice/{id}": {
      "put": {
        "tags": [
          "Giden e-Fatura"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Put (UBL)",
        "description": " \n\n  Faturayı UBL olarak hazırlayanların, fatura üzerinde <b>değişiklik yapma veya hatalı faturalarını güncellemek</b> için kullanabileceği uç noktasıdır.\n\n UBL olarak fatura gönderme metodu ile güncelleme metotlarının model yapıları aynıdır.",
        "operationId": "invoice/update-ubl",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateInvoiceModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/outboxinvoice/{id}/status": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Get Status",
        "description": "Gönderilen e-faturanın durumunu sorgulayan uç noktasıdır. Gönderilen e-faturanın durumuna göre envelope (zarf) bilgileri dönmemektedir. Modellerinizi bu hususa göre oluşturmalısınız.",
        "operationId": "invoice/statu",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboxInvoiceStatuResponseModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/outboxinvoice/invoicereason/{id}": {
      "get": {
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Get Invoice Reason",
        "description": "Gönderilen ticari faturanın kabul/red bilgisi ve gönderilen ihracat faturasında Gümrük ve Ticaret Bakanlığından dönen GTB_REFNO,GTB_GCB_TESCILNO,GTB_FIILI_IHRACAT_TARIHI değerlerini alabilirsiniz. Test ortamı Gümrük ve Ticaret Bakanlığı ile entegre olmadı için test ortamında bu bilgi dönmeyecektir. \n\n",
        "operationId": "invoice/getreason",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "İhracat faturası için örnek dönüş GTB_REFNO:21243161423486016111111,GTB_GCB_TESCILNO:21270100AB76543,GTB_FIILI_IHRACAT_TARIHI:2021-04-03 (alanlar birbirinden virgül ile ayrılmıştır.)"
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/outboxinvoice/withnulllocalreferences": {
      "get": {
        "tags": [
          "Giden e-Fatura"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Arayüzden Kesilen e-Faturalar",
        "description": "Entegrasyon yapan firmaların, arayüzden kesilen faturalara ait Ettn bilgilerine ulaşabilmesi için geliştirilen uç noktasıdır. Arayüzden kesilen faturalara ulaşmak için yapılması gereken ilk işlem, fatura gönderimlerinde localReferenceId alanı dolu gönderilmeli. Bu alan arayüz üzerinden doldurulamayan bir alandır. LocalReferenceId alanına ait açıklamayı fatura gönderim için yapılan açıklamalarda bulabilirsiniz.",
        "operationId": "invoice/withnulllocalreferences",
        "parameters": [
          {
            "$ref": "#/parameters/startCreateDate"
          },
          {
            "$ref": "#/parameters/endCreateDate"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithNullLocalReferencesInvoiceModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/outboxinvoice/{id}/html/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Get HTML",
        "description": "Faturayı Html formatında indirme.",
        "operationId": "outboxinvoice/html",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/outboxinvoice/{id}/pdf/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Get PDF",
        "description": "Faturayı PDF formatında indirme.",
        "operationId": "outboxinvoice/pdf",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/outboxinvoice/{id}/ubl": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Giden e-Fatura"
        ],
        "summary": "Get UBL",
        "description": "Faturayı Ubl formatında indirme.",
        "operationId": "outboxinvoice/ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/create": {
      "post": {
        "tags": [
          "e-Arşiv"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Post",
        "description": "Yeni e-Arşiv Fatura kayıt etmek için kullanılır.\n\nTurkcell e-Şirket fatura oluşturma arayüzlerininde kullandığı modeldir.\n \n Bu model GİB in standart UBL yapısından farklıdır ve sunduğu özellikler fatura oluşturma arayüzlerinin yetenekleri ile sınırlıdır.\n\n Daha önce GİB in standart yapısı ile çalışmış firmaların bu model UBL ile devam etmesini <b>tavsiye ederiz</b>. ",
        "operationId": "earchive/create",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EarchiveUblBuilderModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/earchive/update/{id}": {
      "put": {
        "tags": [
          "e-Arşiv"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Put",
        "description": "e-Arşiv Fatura güncelleme methotudur. Turkcell e-Şirket fatura güncelleme arayününde kullandığı uç noktasıdır.",
        "operationId": "earchive/update",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EarchiveUblBuilderModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/earchive": {
      "post": {
        "tags": [
          "e-Arşiv"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Post (UBL)",
        "description": "e-Arşiv Faturayı UBL olarak hazırlayanların kullanabileceği uç noktasıdır. \n\n XML oluşturmak için `UBL TR 1.2` standart modelinden yararlanabilirsiniz, \n\n UBL inizi oluşturduktan sonra, file olarak bu uç noktasına göndermelisiniz.",
        "operationId": "earchive/create-ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateEarchiveInvoiceModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/earchive/{id}": {
      "put": {
        "tags": [
          "e-Arşiv"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Put (UBL)",
        "description": "e-Arşiv Faturayı UBL olarak hazırlayanların, fatura üzerinde <b>değişiklik yapma veya hatalı e-arşiv faturalarını güncellemek</b> için kullanabileceği uç noktasıdır.\n\n UBL olarak e-arşiv fatura gönderme metodu ile güncelleme metotlarının model yapıları aynıdır.",
        "operationId": "earchive/update-ubl",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateEarchiveInvoiceModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/earchive/{id}/status": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "e-Arşiv"
        ],
        "summary": "Get Status",
        "description": "Gönderilen e-Arşiv Fatura durumunu sorgulayan uç noktasıdır.",
        "operationId": "earchive/statu",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveInvoiceStatuResponseModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/{id}/html/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "e-Arşiv"
        ],
        "summary": "Get HTML",
        "description": "e-Arşiv Faturayı Html formatında indirme.",
        "operationId": "earchive/html",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/{id}/pdf/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "e-Arşiv"
        ],
        "summary": "Get PDF",
        "description": "e-Arşiv Faturayı PDF formatında indirme.",
        "operationId": "earchive/pdf",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/{id}/ubl": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "e-Arşiv"
        ],
        "summary": "Get UBL",
        "description": "e-Arşiv Faturayı Ubl formatında indirme.",
        "operationId": "earchive/ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/withnulllocalreferences": {
      "get": {
        "tags": [
          "e-Arşiv"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "Arayüzden Kesilen e-Arşiv Faturalar",
        "description": "Entegrasyon yapan firmaların, arayüzden kesilen e-arşiv faturalara ait Ettn bilgilerine ulaşabilmesi için geliştirilen uç noktasıdır. Arayüzden kesilen e-arşiv faturalara ulaşmak için yapılması gereken ilk işlem, e-arşiv fatura gönderimlerinde localReferenceId alanı dolu gönderilmeli. Bu alan arayüz üzerinden doldurulamayan bir alandır. LocalReferenceId alanına ait açıklamayı e-arşiv fatura gönderim için yapılan açıklamalarda bulabilirsiniz.",
        "operationId": "earchive/withnulllocalreferences",
        "parameters": [
          {
            "$ref": "#/parameters/startCreateDate"
          },
          {
            "$ref": "#/parameters/endCreateDate"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithNullLocalReferencesEarchiveModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/getmaildetail": {
      "parameters": [
        {
          "name": "id",
          "in": "query",
          "description": "Erişilmek istenen e-Arşiv Faturanın unique Id'si (ETTN)",
          "schema": {
            "type": "Guid"
          }
        }
      ],
      "get": {
        "tags": [
          "e-Arşiv"
        ],
        "summary": "Get EMailDetail",
        "description": "e-Arşiv Fatura için gönderilen e-postanın uygulamadaki durumunu döndürür.",
        "operationId": "earchive/getmaildetail",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarsivInvoiceMailModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/retryinvoicemail/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "e-Arşiv"
        ],
        "summary": "RetryInvoiceMail For Error",
        "description": "e-Arşiv Faturaya ait gönderilen e-postanın hatalı durumundaysa tekrar denemek için kullanılan uç noktasıdır.",
        "operationId": "earchive/retryinvoiceerrormail",
        "responses": {
          "200": {
            "description": "Olması tekrar gönderim yapılmış demektir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/retryinvoicemail": {
      "post": {
        "tags": [
          "e-Arşiv"
        ],
        "summary": "RetryInvoiceMail",
        "description": "e-Arşiv Fatura için gönderilen e-postayı tekrardan göndermek veya yeni bir mail adresine göndermek için kullanılan uç noktasıdır.",
        "operationId": "earchive/retryinvoicemail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "id",
                      "emailaddresses"
                    ],
                    "properties": {
                      "id": {
                        "description": "Erişilmek istenen e-Arşiv Faturanın unique Id'si (ETTN)",
                        "type": "Guid"
                      },
                      "emailaddresses": {
                        "description": "e-Posta bilgisi, ; ile ayırarak birden fazla kişiye gönderim yapabilirsiniz Ör: deneme1@gmail.com;deneme2@gmail.com",
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "200 değeri işlemin başarılı olduğunu belirtir."
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/earchive/cancelinvoice": {
      "put": {
        "tags": [
          "e-Arşiv"
        ],
        "summary": "Cancel Invoice",
        "description": "e-Arşiv Faturayı iptal etmek için bu metot kullanılır.Sadece başarılı durumdaki <b>(Status = 60 )</b> olan e-Arşiv Faturalar iptal edilebilir. Parametre olarak Guid Array alır. \n \n[\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\"] \n \n [\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\",\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\"]",
        "operationId": "earchive/cancelinvoice",
        "responses": {
          "200": {
            "description": "Olması durumunda e-Arşiv fatura iptal olmuş demektir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/inboxinvoice/list ": {
      "get": {
        "tags": [
          "Gelen e-Fatura"
        ],
        "summary": "Get List",
        "description": "Gelen e-faturaları, sayfalı olarak çeken uç noktasıdır. Belirtilen parametrelerde filtreleme uygulayabilirsiniz. ",
        "operationId": "inboxinvoice/list",
        "parameters": [
          {
            "description": "Gelen faturalar isNew true olarak sisteme kaydedilir. Muhasebe / ERP programıza çekmiş olduğunuz faturaları tekrar çekmek istemiyorsanız, çekmiş oldunuğunuz faturaların isNew alanını false olarak güncelleyebilirsiniz.\n\n Bu bilgisi false yapmak için <b>inboxinvoice/updateisnew</b> metodunuz kullanabilirsiniz. ",
            "name": "isNew",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fatura numarası bilgisi, ÖRNEK:EPA2019000001220, 3 hane ön ek, 4 hane yıl bilgisi, 9 fatura numarası olacak şekilde 16 haneli olur.",
            "name": "invoiceNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Gönderen firma VKN/TCKN bilgisi.",
            "name": "targetVknTckn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Faturanın senaryosu bilgisi.",
            "name": "type",
            "in": "query",
            "schema": {
              "type": "int",
              "enum": [
                "Temel : 0",
                "Ticari : 1",
                "İhracat : 2",
                "Yolcu Beraber Fatura : 3"
              ]
            }
          },
          {
            "description": "Faturanın tip bilgisi.",
            "name": "tipType",
            "in": "query",
            "schema": {
              "type": "int",
              "enum": [
                "Satış : 1",
                "İade : 2",
                "İstisna : 3",
                "Özel Matrah : 4",
                "Tevkifat : 5",
                "Araç Tescil : 6",
                "İhraç Kayıtlı : 7",
                "SGK : 8"
              ]
            }
          },
          {
            "description": "Faturanın durumu bilgisi.<b>e-Fatura iptal statüsü</b> , karşı firma ile GİB portal üzerinde yaptığınız iptal sürecinden sonra, bize bilgi vermeniz dahilinde manuel yaptığımız bir işlemdir. Sistem üzerinden e-Fatura iptal işlemi yapılamamaktadır.",
            "name": "status",
            "in": "query",
            "schema": {
              "type": "int",
              "enum": [
                "Hata : 40",
                "Onaylandı : 60",
                "Onaylanıyor : 61",
                "Onaylama Hatası : 62",
                "Otomatik Onaylandı : 65",
                "Onay Bekliyor : 70",
                "Reddedildi : 80",
                "Reddediliyor : 81",
                "Reddetme Hatası : 82",
                "İade : 90",
                "İade Ediliyor : 91",
                "İade Hatası : 92",
                "e-Fatura İptal : 99"
              ]
            }
          },
          {
            "description": "Çekmek istediğiniz faturaların başlangıç tarihini belirtir.",
            "name": "startDate - (2019-10-30 00:00:00) ",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Çekmek istediğiniz faturaların son tarihini belirtir. Bulunduğunuz gün ve saatten büyük değer olmamalıdır.",
            "name": "endDate - (2019-10-30 00:00:00) ",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Çekmek istediğiniz başlangıç sayfasını belirtir.",
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "type": "int"
            }
          },
          {
            "description": "Çekmek istediğiniz sayfada kaç adet kayıt olması gerektiğini belirtir. Tek seferde max 500 kayıt",
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "int"
            }
          },
          {
            "description": "Çekmek istediğiniz faturaları oluşturma tarihine göre sıralamak için gönderilir.",
            "name": "isDesc",
            "in": "query",
            "schema": {
              "type": "bool",
              "enum": [
                "true  : Evet",
                "false : Hayır"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxInvoiceListModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/inboxinvoice/{id}/status": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Gelen e-Fatura"
        ],
        "summary": "Get Status",
        "description": "Gelen faturanın durumunu sorgulamak için kullanılacak uç noktasıdır.",
        "operationId": "inboxinvoice/status",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxInvoiceStatuResponseModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/inboxinvoice/{id}/html/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Gelen e-Fatura"
        ],
        "summary": "Get HTML",
        "description": "Faturayı <b>html</b> formatında indirmenizi sağlayan uç noktasıdır.",
        "operationId": "inboxinvoice/html",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/inboxinvoice/{id}/pdf/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Gelen e-Fatura"
        ],
        "summary": "Get PDF",
        "description": "Faturayı PDF formatında indirme.",
        "operationId": "inboxinvoice/pdf",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/inboxinvoice/{id}/zip/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Gelen e-Fatura"
        ],
        "summary": "Get ZİP",
        "description": "Faturayı Zip formatında indirme.",
        "operationId": "inboxinvoice/zip",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/inboxinvoice/{id}/ubl": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "tags": [
          "Gelen e-Fatura"
        ],
        "summary": "Get UBL",
        "description": "Faturayı Ubl formatında indirme.",
        "operationId": "inboxinvoice/ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/inboxinvoice/updateisnew ": {
      "put": {
        "tags": [
          "Gelen e-Fatura"
        ],
        "summary": "Put IsNewFlag",
        "description": "Gelen faturalar <b>isNew true</b> olarak sisteme kaydedilir. Muhasebe / ERP programıza çekmiş olduğunuz faturaları tekrar çekmek istemiyorsanız, çekmiş oldunuğunuz faturaların <b>isNew alanını false</b> olarak güncelleyebilirsiniz.\n\n ",
        "operationId": "inboxinvoice/updateisnew",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "int",
                  "description": "Başarılı geri dönüş sayısı"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/UpdateIsNewModel"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/invoiceresponse/getbyinvoiceid/{invoiceid}": {
      "parameters": [
        {
          "$ref": "#/parameters/invoiceid"
        }
      ],
      "get": {
        "tags": [
          "Gelen Ticari Fatura Cevap"
        ],
        "summary": "Get",
        "description": "Fatura durum sorgulama. Bu metot ile faturanızın onaylandı mı ? Reddedildi mi ? Kuyrukta mı ? vb  durumunu öğrenmek için kullanabilirsiniz.",
        "operationId": "invoiceresponse/getbyinvoiceid",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "InvoiceId": {
                      "description": "Fatura Id'si",
                      "type": "Guid"
                    },
                    "Status": {
                      "description": "Fatura durumu",
                      "type": "int",
                      "enum": [
                        "0   : Taslak",
                        "10  : İptal",
                        "20  : Kuyrukta",
                        "40  : Hata",
                        "50  : GIB'e İletildi",
                        "60  : Onaylandı",
                        "61  : Onaylanıyor",
                        "62  : Onaylama Hatası",
                        "65  : Otomatik Onaylandı",
                        "70  : Onay Bekliyor",
                        "80  : Reddedildi",
                        "81  : Reddediliyor",
                        "82  : Reddetme Hatası",
                        "90  : İade",
                        "91  : İade ediliyor",
                        "92  : İade Hatası",
                        "100 : e-Arşiv İptal"
                      ],
                      "example": 60
                    },
                    "Reason": {
                      "description": "Onaylama/Reddetme nedeni",
                      "type": "string"
                    },
                    "ResponseStatus": {
                      "description": "Fatura onay durumu",
                      "type": "int",
                      "enum": [
                        "1 : Kabul",
                        "2 : Red"
                      ],
                      "example": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/invoiceresponse": {
      "post": {
        "tags": [
          "Gelen Ticari Fatura Cevap"
        ],
        "summary": "Post",
        "description": "Gelen ticari faturayı kabul/red etme işlemlerini bu metot üzerinden gerçekleştirebilirsiniz.",
        "operationId": "invoiceresponse/post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "InvoiceId",
                      "Status"
                    ],
                    "properties": {
                      "InvoiceId": {
                        "description": "Fatura Id'si",
                        "type": "Guid",
                        "example": "E63032B9-E307-41B9-9E37-74E13BB514E6"
                      },
                      "Status": {
                        "description": "Fatura onay durumu",
                        "type": "int",
                        "enum": [
                          "1 : Kabul",
                          "2 : Red"
                        ],
                        "example": 1
                      },
                      "Reason": {
                        "description": "Onaylama/Reddetme nedeni",
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Olması başarılı anlamına gelmektedir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/invoiceresponse/retryinvoiceresponselist": {
      "put": {
        "tags": [
          "Gelen Ticari Fatura Cevap"
        ],
        "summary": "Put RetryInvoice",
        "description": "Onaylama/Reddetme hata durumunda olan faturayı tekrar deneme.",
        "operationId": "invoiceresponse/retryinvoiceresponselist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "properties": {
                      "Ids": {
                        "description": "Guid Id Dizisi",
                        "type": "Guid []"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "200 'Başarılı' demektir."
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/gibuser/recipient/zip": {
      "get": {
        "tags": [
          "Mükellefler"
        ],
        "servers": [
          {
            "url": "https://efaturaservice.turkcellesirket.com/v2",
            "description": "Production"
          },
          {
            "url": "https://efaturaservicetest.isim360.com/v2",
            "description": "Test"
          }
        ],
        "summary": "GibUserZipList",
        "description": "Zip içersinde Json model döner.İçerisinde sadece <b> e-fatura kullanıcılarının alıcı bilgileri(pk/alias) vardır.</b>Model açıklamaları 200 response içindedir.",
        "operationId": "gibuser/recipientzip",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": " <b>identifier</b> : Mükellefin VKN/TCKN bilgisi (string),<br> <b>title</b> : Mükellefin ünvanı (string),<br> <b>gibUserType</b> : Mükellefin türü 1 Özel, 2 Kamu (int),<br> <b>alias</b> : Posta kutusu/Gönderen birim, ReceiverboxAlias için (Posta Kutusu, pk'li alias içerir.), SenderboxAlias için (Gönderen birim, gb'li alias içerir.) (string),<br> <b>appType</b> : Uygulama türü 1 e-fatura, 3 e-İrsaliye (int),<br> <b>firstCreationTime</b> : Mükellefin GİB sisteminde oluşturulma tarihi (DateTime),<br> <b>aliasCreationTime</b> : Mükellefin alias'ının GİB sisteminde oluşturulma tarihi (DateTime),<br> "
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/staticlist/unit": {
      "get": {
        "tags": [
          "Statik Listeler"
        ],
        "summary": "UnitCode List",
        "description": "Fatura kalemleri içerisinde kullanılan birimlerin listesini bu metot üzerinden çekebilirsiniz.",
        "operationId": "staticlist/unit",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Birim kodu",
                        "example": "C62"
                      },
                      "description": {
                        "type": "string",
                        "description": "Birim açıklaması",
                        "example": "Adet"
                      },
                      "isEnabled": {
                        "type": "bool",
                        "description": "Birimin aktif olup olmama durumu, bu durumu GİB'in güncel listesinden alıyoruz.",
                        "enum": [
                          "1 : true",
                          "0 : false"
                        ],
                        "example": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/staticlist/country": {
      "get": {
        "tags": [
          "Statik Listeler"
        ],
        "summary": "Country List",
        "description": "Ülkelerin çekildiği metotdur.",
        "operationId": "staticlist/country",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "int",
                        "description": "Ülke id'si"
                      },
                      "name": {
                        "type": "string",
                        "description": "Ülke adı"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/staticlist/taxoffice": {
      "get": {
        "tags": [
          "Statik Listeler"
        ],
        "summary": "TaxOffice List",
        "description": "Vergi dairelerinin çekildiği metotdur.",
        "operationId": "staticlist/taxoffice",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Posta kodu"
                      },
                      "name": {
                        "type": "string",
                        "description": "Vergi dairesinin adı"
                      },
                      "cityId": {
                        "type": "long",
                        "description": "Vergi dairesinin bulunduğu şehrin id'si"
                      },
                      "cityName": {
                        "type": "string",
                        "description": "Vergi dairesinin bulunduğu şehrin adı"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/staticlist/taxtypecode": {
      "get": {
        "tags": [
          "Statik Listeler"
        ],
        "summary": "TaxTypeCode List",
        "description": "Vergi parametre kodları ve açıklamalarının çekildiği metotdur.",
        "operationId": "staticlist/taxtypecode",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Vergi kodu"
                      },
                      "name": {
                        "type": "string",
                        "description": "Vergi adı"
                      },
                      "description": {
                        "type": "string",
                        "description": "Vergi açıklaması"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/staticlist/withholding": {
      "get": {
        "tags": [
          "Statik Listeler"
        ],
        "summary": "Withholding List",
        "description": "Tevkifat kodları ve açıklamalarının çekildiği metotdur.",
        "operationId": "staticlist/withholding",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "Tevkifat kodu"
                      },
                      "description": {
                        "type": "string",
                        "description": "Tevkifat açıklaması"
                      },
                      "rate": {
                        "type": "int",
                        "description": "Tevkifat oranı, örneğin dönen 4 değeri %40 anlamına"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/staticlist/taxexemptionreason": {
      "get": {
        "tags": [
          "Statik Listeler"
        ],
        "summary": "TaxExemptionReason List",
        "description": "Vergi muafiyet kodları ve açıklamalarının çekildiği metotdur.",
        "operationId": "staticlist/taxexemptionreason",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "Muafiyet kodu"
                      },
                      "description": {
                        "type": "string",
                        "description": "Muafiyet açıklaması"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/producerreceipt ": {
      "post": {
        "tags": [
          "E-MM"
        ],
        "summary": "Post (UBL)",
        "description": " \n\n  e-Müstahsil Makbuzunu UBL olarak hazırlayanların kullanabileceği uç noktasıdır. Hazırlanan xml, zip'lenerek modelde ilgili alana eklenerek gönderilir. \n\n XML modelini istemiş olduğunuz bilgiler ile oluşturduktan sonra, \n\n İlgili modeli ilk önce XML formatına dönüştürerek dönüştürülen XML dosyasınıda ziplemek için \n\n bytcode dönüştürmeniz gerekmektedir daha sonra bu bytcodu Base64 formatıyla stringe parse ederek servise gönderebilirsiniz.",
        "operationId": "producerreceipt/create-ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProducerReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateProducerReceiptModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/producerreceipt/updatestatuslist": {
      "put": {
        "tags": [
          "E-MM"
        ],
        "summary": "Update Status List",
        "description": "Bu metot e-Müstahsil Makbuzunun statüsünü güncellemek için kullanılır.\n \n Hata alan e-Müstahsil Makbuzunu düzenlemek için taslağa çekmeniz gerekiyor (Status = 0).\n \n e-Müstahsil Makbuzunu düzenledikten sonra bu metodu tekrar çağırarak makbuz statüsünü 20 (Kuyrukta) yaparak makbuzlarınızın gönderimini sağlayabilirsiniz.",
        "operationId": "producerreceipt/updatestatuslist",
        "responses": {
          "200": {
            "description": "Olması durumunda statü güncellenmiştir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "ids",
                      "status"
                    ],
                    "properties": {
                      "ids": {
                        "description": "Erişilmek istenen kaynağın unique id veya id'leri dizi olarak (ETTN).",
                        "type": "Guid [ ]"
                      },
                      "status": {
                        "description": "e-Müstahsil Makbuzunun durumunu belirtir.",
                        "type": "int",
                        "enum": [
                          "Taslak : 0",
                          "Kaydet ve Gönder : 20"
                        ],
                        "example": 20
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/producerreceipt/{id}": {
      "put": {
        "tags": [
          "E-MM"
        ],
        "summary": "Put (UBL)",
        "description": " \n\n  e-Müstahsil Makbuzunu UBL olarak hazırlayanların güncelleme için kullanabileceği uç noktasıdır. Post (UBL)'de olduğu gibi, zip'lenerek modelde ilgili alana eklenerek gönderilir.",
        "operationId": "producerreceipt/update-ubl",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProducerReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateProducerReceiptModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/producerreceipt/cancel": {
      "post": {
        "tags": [
          "E-MM"
        ],
        "summary": "Cancel Producer Receipt",
        "description": "e-Müstahsil Makbuzunu iptal etmek için bu metot kullanılır.Sadece başarılı durumdaki <b>(Status = 60 )</b> olan e-Müstahsil Makbuzları iptal edilebilir.İptal edildikten sonraki <b>Status=100</b> olur. Parametre olarak Guid Array alır. \n \n[\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\"] \n \n [\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\",\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\"]",
        "operationId": "producerreceipt/cancel",
        "responses": {
          "200": {
            "description": "Olması durumunda e-Müstahsil Makbuz iptal olmuş demektir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/producerreceipt/{id}/status": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "E-MM"
        ],
        "summary": "Get Status",
        "description": "e-Müstahsil Makbuzunun durumunu sorgulama.",
        "operationId": "producerreceipt/statu",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmmStatuResponseModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/producerreceipt/{id}/html/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "tags": [
          "E-MM"
        ],
        "summary": "Get HTML",
        "description": "e-Müstahsil Makbuzunu Html formatında indirme.",
        "operationId": "producerreceipt/html",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/producerreceipt/{id}/pdf/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "tags": [
          "E-MM"
        ],
        "summary": "Get PDF",
        "description": "e-Müstahsil Makbuzunu PDF formatında indirme.",
        "operationId": "producerreceipt/pdf",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/producerreceipt/{id}/zip/{isStandartXslt}": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        },
        {
          "$ref": "#/parameters/isStandartXslt"
        }
      ],
      "get": {
        "tags": [
          "E-MM"
        ],
        "summary": "Get ZİP",
        "description": "e-Müstahsil Makbuzunu Zip formatında indirme.",
        "operationId": "producerreceipt/zip",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/producerreceipt/{id}/ubl": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "E-MM"
        ],
        "summary": "Get UBL",
        "description": "e-Müstahsil Makbuzunu Ubl formatında indirme.",
        "operationId": "producerreceipt/ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UblHtml"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/voucher/create": {
      "post": {
        "tags": [
          "E-SMM"
        ],
        "summary": "Post",
        "description": "Yeni e-Serbest Meslek Makbuzu kayıt etmek için kullanılır.\n\nTurkcell e-Şirket e-Serbest Meslek Makbuzu oluşturma arayüzlerininde kullandığı modeldir.\n \n Bu model GİB in standart UBL yapısından farklıdır ve sunduğu özellikler e-Serbest Meslek Makbuzu oluşturma arayüzlerinin yetenekleri ile sınırlıdır.\n\n Daha önce GİB in standart yapısı ile çalışmış firmaların bu model UBL ile devam etmesini <b>tavsiye ederiz</b>. ",
        "operationId": "invoice/create",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutboxInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VoucherBuilderModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/voucher": {
      "post": {
        "tags": [
          "E-SMM"
        ],
        "summary": "Post (UBL)",
        "description": " \n\n  e-Serbest Meslek Makbuzunu UBL olarak hazırlayanların kullanabileceği uç noktasıdır. Hazırlanan xml, zip'lenerek modelde ilgili alana eklenerek gönderilir. \n\n XML modelini istemiş olduğunuz bilgiler ile oluşturduktan sonra, \n\n İlgili modeli ilk önce XML formatına dönüştürerek dönüştürülen XML dosyasınıda ziplemek için \n\n bytcode dönüştürmeniz gerekmektedir daha sonra bu bytcodu Base64 formatıyla stringe parse ederek servise gönderebilirsiniz.",
        "operationId": "voucher/create-ubl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVouchersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "<b>Unauthorized</b>, token süresi bittiği zaman alınan hatadır. Yeni token alınız."
          },
          "403": {
            "description": "<b>Forbidden</b>, kullanıcınızın yetkisi olmadığı zaman dönen uyarıdır."
          },
          "404": {
            "description": "<b>Not Found</b>, hata uç noktasına gidildiğinde veya aranan kayıt bulunamadığında dönen uyarıdır."
          },
          "422": {
            "description": "<b>Unprocessable entity</b>, validation'lara takılan kayıtlar için dönen uyarı. Kayıtlarınızı düzeltmeden tekrardan göndermeyi <b>DENEMEYİNİZ</b>",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "detail": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVouchersModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/voucher/{id}": {
      "put": {
        "tags": [
          "E-SMM"
        ],
        "summary": "Put (UBL)",
        "description": " \n\n  e-Serbest Meslek Makbuzunu UBL olarak hazırlayanların güncelleme için kullanabileceği uç noktasıdır. Post (UBL)'de olduğu gibi, zip'lenerek modelde ilgili alana eklenerek gönderilir.",
        "operationId": "voucher/update-ubl",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVouchersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVouchersModel"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/voucher/updatestatuslist": {
      "put": {
        "tags": [
          "E-SMM"
        ],
        "summary": "Update Status List",
        "description": "Bu metot e-Serbest Meslek Makbuzunun statüsünü güncellemek için kullanılır.\n \n Hata alan e-Serbest Meslek Makbuzunu düzenlemek için taslağa çekmeniz gerekiyor (Status = 0).\n \n e-Serbest Meslek Makbuzunu düzenledikten sonra bu metodu tekrar çağırarak makbuz statüsünü 20 (Kuyrukta) yaparak makbuzlarınızın gönderimini sağlayabilirsiniz.",
        "operationId": "voucher/updatestatuslist",
        "responses": {
          "200": {
            "description": "Olması durumunda statü güncellenmiştir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "ids",
                      "status"
                    ],
                    "properties": {
                      "ids": {
                        "description": "Erişilmek istenen kaynağın unique id veya id'leri dizi olarak (ETTN).",
                        "type": "Guid [ ]"
                      },
                      "status": {
                        "description": "e-Serbest Meslek Makbuzunun durumunu belirtir.",
                        "type": "int",
                        "enum": [
                          "Taslak : 0",
                          "Kaydet ve Gönder : 20"
                        ],
                        "example": 20
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/voucher/cancel": {
      "post": {
        "tags": [
          "E-SMM"
        ],
        "summary": "Cancel Voucher",
        "description": "e-Serbest Meslek Makbuzunu iptal etmek için bu metot kullanılır.Sadece başarılı durumdaki <b>(Status = 60 )</b> olan e-Serbest Meslek Makbuzları iptal edilebilir.İptal edildikten sonraki <b>Status=100</b> olur. Parametre olarak Guid Array alır. \n \n[\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\"] \n \n [\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\",\"5BC57BFA-DBB4-4D7D-8050-9322E23CA529\"]",
        "operationId": "voucher/cancel",
        "responses": {
          "200": {
            "description": "Olması durumunda e-Serbest Meslek Makbuz iptal olmuş demektir."
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
        }
      }
    },
    "/voucher/{id}/status": {
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "E-SMM"
        ],
        "summary": "Get Status",
        "description": "e-Serbest Meslek Makbuzunun durumunu sorgulama.",
        "operationId": "voucher/statu",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsmmStatuResponseModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1voucher/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1voucher/post/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1voucher/post/responses/403"
          },
          "404": {
            "$ref": "#/paths/~1voucher/post/responses/404"
          },
          "422": {
            "$ref": "#/paths/~1voucher/post/responses/422"
          }
[...]
